<div class="show-banner">
  <h1>Welcome to your very own Movie Watch List</h1>
</div>


  <div class="row justify-content-center">
  </div>
</div>

<h1><%= @list.name %></h1>

<div class="list-container">
  <% @list_bookmarks.each do |bookmark| %>
  <div class="card-trip">
   <%= image_tag("https://image.tmdb.org/t/p/original/#{bookmark.movie.poster_url}", height: 400) %>
  <div class="card-trip-infos">
    <div>
    <h2 class="list-group-item"><%= "#{bookmark.movie.title}" %></h2>
      <p class="list-group-item"><%= "#{bookmark.movie.overview}" %></p>
      <p class="list-group-item"><%= "Rating - #{bookmark.movie.rating}" %></p>


    </div>
    <h2 class="list-group-item"><%= "#{bookmark.comment}" %></h2>
  <%= link_to "Remove from this list",
              bookmark_path(bookmark),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
  </div>

</div>
  <% end %>
</div>





<%= link_to "Back to Home", lists_path %>
<%= link_to "Add a movie to this list", new_list_bookmark_path(@list) %>
  <%= link_to "Delete this list ",
              list_path(@list),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
