<%= simple_form_for(@movie) do |f| %>
  <%= f.input :overview %>
  <%= f.submit %>
<% end %>

<br>
<h1>Select Movie from List</h1>
<div class="list-container" >
<%= $results.each_with_index do |result, i| %>
  <div class="card-trip">

  <br>
  <%= image_tag("https://image.tmdb.org/t/p/original/#{result["poster_path"]}", height: 200) %>
  <div class="card-trip-info">
  <%= "index - #{i}" %>
  <br>
  <br>
  <%= "Title - #{result["title"]}" %>
  <br>
  <br>
  <%= "Rating - #{result["vote_average"]}" %>
  <br>
  <br>
  <br>
  </div>
    </div>
  <% end %>
</div>
